TreasuryModel/Web References/SanctionService/SearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.kiatnakin.co.th/services/sanction/" xmlns:tsl="http://www.kiatnakin.co.th/schema/search/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" targetNamespace="http://www.kiatnakin.co.th/services/sanction/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://www.kiatnakin.co.th/schema/search/" version="1.0">
      <xs:element name="searchResponse">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tsl:CommonResponseType">
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="record" type="tsl:RecordType" />
                <xs:element default="0" name="total" type="xs:int" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchRequest">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tsl:CommonRequestType">
              <xs:sequence>
                <xs:choice id="entityType">
                  <xs:element name="individualEntity" type="tsl:IndividualType" />
                  <xs:element name="vesselEntity" type="tsl:VesselType" />
                  <xs:element name="organisationEntity" type="tsl:OrganisationType" />
                  <xs:element name="unspecifiedEntity" type="tsl:UnspecifiedType" />
                </xs:choice>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="IDCheckType">
        <xs:sequence>
          <xs:element name="issuingState" nillable="true" type="tsl:CountryCodeType" />
          <xs:element name="documentType" type="tsl:DocumentTypeType" />
          <xs:element name="idNumber" type="tsl:IDNumberType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EntitySpecType">
        <xs:sequence>
          <xs:element name="names" type="tsl:StringNameType" />
          <xs:element default="N" name="nameTransposition" type="tsl:OptionType" />
          <xs:element default="80" name="minScoreThreshold" type="tsl:ScoreThresholdType" />
          <xs:element default="20" name="maxResult" type="tsl:ResultMaxType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IndividualType">
        <xs:complexContent mixed="false">
          <xs:extension base="tsl:EntitySpecType">
            <xs:sequence>
              <xs:element default="U" name="gender" type="tsl:GenderType" />
              <xs:element name="dateOfBirth" nillable="true" type="tsl:DateStrType" />
              <xs:element name="countryLocation" nillable="true" type="tsl:CountryCodeType" />
              <xs:element name="placeOfBirth" nillable="true" type="tsl:CountryCodeType" />
              <xs:element name="nationality" nillable="true" type="tsl:CountryCodeType" />
              <xs:element minOccurs="0" name="idCheck" type="tsl:IDCheckType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="VesselType">
        <xs:complexContent mixed="false">
          <xs:extension base="tsl:EntitySpecType">
            <xs:sequence>
              <xs:element name="imoNumber" nillable="true" type="tsl:IMONumberType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="OrganisationType">
        <xs:complexContent mixed="false">
          <xs:extension base="tsl:EntitySpecType">
            <xs:sequence>
              <xs:element name="registeredCountry" nillable="true" type="tsl:CountryCodeType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UnspecifiedType">
        <xs:complexContent mixed="false">
          <xs:extension base="tsl:EntitySpecType">
            <xs:sequence>
              <xs:element default="X" name="ei" type="tsl:EIType" />
              <xs:element name="dateOfBirth" nillable="true" type="tsl:DateStrType" />
              <xs:element name="country" nillable="true" type="tsl:CountryCodeType" />
              <xs:element name="placeOfBirth" nillable="true" type="tsl:CountryCodeType" />
              <xs:element name="nationality" nillable="true" type="tsl:CountryCodeType" />
              <xs:element minOccurs="0" name="idCheck" type="tsl:IDCheckType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="DocumentTypeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PASSPORT" />
          <xs:enumeration value="ID_CARD" />
          <xs:enumeration value="UNSPECIFIED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="IDNumberType">
        <xs:restriction base="xs:string">
          <xs:pattern value=".{0,100}$" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="IMONumberType">
        <xs:restriction base="xs:string">
          <xs:pattern value="^$|[0-9]{7}" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="GenderType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="M" />
          <xs:enumeration value="F" />
          <xs:enumeration value="U" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="EIType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="M" />
          <xs:enumeration value="F" />
          <xs:enumeration value="U" />
          <xs:enumeration value="E" />
          <xs:enumeration value="X" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="DateRestrType">
        <xs:annotation>
          <xs:documentation>
						We use xs:date as base restriction. We need to extend it to accept a
						blank month and a blank day.
					</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="xs:date">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="(18|19|20)[0-9]{2}\-((((0[1-9])|10|11|12)\-00)|(00-00))" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
      <xs:simpleType name="DateStrType">
        <xs:restriction base="xs:string">
          <xs:pattern value="^$|((18|19|20)[0-9]{2}\-((((0[1-9])|10|11|12)\-00)|(00-00)))|((18|19|20)[0-9]{2}\-((((0[1-9])|10|11|12)\-[0-3][0-9])))" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CountryCodeType">
        <xs:restriction base="xs:string">
          <xs:pattern value="^$|[A-Z]{2}" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ResultMaxType">
        <xs:restriction base="xs:integer">
          <xs:fractionDigits value="0" />
          <xs:maxInclusive value="40" />
          <xs:minInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ScoreThresholdType">
        <xs:restriction base="xs:integer">
          <xs:fractionDigits value="0" />
          <xs:maxInclusive value="100" />
          <xs:minInclusive value="60" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="OptionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="N" />
          <xs:enumeration value="Y" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="StringNameType">
        <xs:restriction base="xs:string">
          <xs:pattern value="^$|^.{3,1000}$" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="RecordType">
        <xs:sequence>
          <xs:element name="uid" type="xs:string" />
          <xs:element name="entityType" nillable="true" type="xs:string" />
          <xs:element name="lastName" nillable="true" type="xs:string" />
          <xs:element name="firstName" nillable="true" type="xs:string" />
          <xs:element name="name" nillable="true" type="xs:string" />
          <xs:element name="aliasMatched" nillable="true" type="xs:string" />
          <xs:element name="ei" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="datesOfBirths" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="placeOfBirths" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Identifications" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="nationality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="country" nillable="true" type="xs:string" />
          <xs:element name="subCategory" nillable="true" type="xs:string" />
          <xs:element name="category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="types" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="keyword" nillable="true" type="xs:string" />
          <xs:element name="matchedNameType" nillable="true" type="xs:string" />
          <xs:element name="matchedNameScore" nillable="true" type="xs:integer" />
          <xs:element name="ruleCode" nillable="true" type="xs:string" />
          <xs:element name="ruleType" nillable="true" type="xs:string" />
          <xs:element name="ruleDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="sanctionGroup" type="xs:string" />
          <xs:element minOccurs="0" name="sourceWatchlist" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CommonRequestType" abstract="true">
        <xs:sequence>
          <xs:element name="header" type="tsl:HeaderType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CommonResponseType" abstract="true">
        <xs:sequence>
          <xs:element name="header" type="tsl:HeaderType" />
          <xs:element name="responseStatus" type="tsl:ResponseStatusType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HeaderType">
        <xs:sequence>
          <xs:element name="referenceNo" type="tsl:ReferenceNoType" />
          <xs:element name="transactionDateTime" type="tsl:TxnDateTimeType" />
          <xs:element name="serviceName" type="tsl:ServiceNameType" />
          <xs:element name="systemCode" type="tsl:SystemCodeType" />
          <xs:element name="ChannelID" type="tsl:ChannelIDType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PagingRequestType">
        <xs:sequence>
          <xs:element default="1" name="pageNumber" type="xs:unsignedInt" />
          <xs:element default="50" name="pageSize" type="xs:unsignedInt" />
          <xs:element minOccurs="0" name="sortColumn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sortDirection" nillable="true" type="tsl:SortDirectionType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PagingResponseType">
        <xs:sequence>
          <xs:element default="1" name="pageNumber" type="xs:unsignedInt" />
          <xs:element default="50" name="pageSize" type="xs:unsignedInt" />
          <xs:element minOccurs="0" name="sortColumn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sortDirection" nillable="true" type="tsl:SortDirectionType" />
          <xs:element minOccurs="0" default="0" name="totalRecord" nillable="true" type="xs:unsignedInt" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResponseStatusType">
        <xs:sequence>
          <xs:element name="responseCode" type="xs:string" />
          <xs:element name="responseMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="SortDirectionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ASC" />
          <xs:enumeration value="DESC" />
          <xs:enumeration value="" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="StringTxtType">
        <xs:restriction base="xs:string">
          <xs:maxLength value="250" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="StringAddrType">
        <xs:restriction base="xs:string">
          <xs:maxLength value="1000" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ReferenceNoType">
        <xs:restriction base="xs:string">
          <xs:maxLength value="40" />
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="TxnDateTimeType">
        <xs:restriction base="xs:string">
          <xs:pattern value="^([0-9]{4}[\-]?((0[13-9]|1[012])[\-]?(0[1-9]|[12][0-9]|30)|(0[13578]|1[02])[\-]?31|02[\-]?(0[1-9]|1[0-9]|2[0-8]))|([0-9]{2}(([2468][048]|[02468][48])|[13579][26])|([13579][26]|[02468][048]|0[0-9]|1[0-6])00)[\-]?02[\-]?29)(([0-1][0-9])|(2[0-3]))([0-5][0-9])([0-5][0-9])$">
            <xs:annotation>
              <xs:documentation>Transaction Date String format yyyyMMddHHmmss
							</xs:documentation>
            </xs:annotation>
          </xs:pattern>
          <xs:maxLength value="14" />
          <xs:minLength value="14" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ServiceNameType">
        <xs:restriction base="xs:string">
          <xs:maxLength value="100" />
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="SystemCodeType">
        <xs:restriction base="xs:string">
          <xs:maxLength value="10" />
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ChannelIDType">
        <xs:restriction base="xs:string">
          <xs:maxLength value="10" />
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="searchResponse">
    <wsdl:part name="parameters" element="tsl:searchResponse" />
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part name="parameters1" element="tsl:searchRequest" />
  </wsdl:message>
  <wsdl:portType name="SearchService">
    <wsdl:operation name="search">
      <wsdl:input name="search" message="tns:search" />
      <wsdl:output name="searchResponse" message="tns:searchResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchServiceSoapBinding" type="tns:SearchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="search">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchService">
    <wsdl:port name="SearchServicePort" binding="tns:SearchServiceSoapBinding">
      <soap:address location="http://10.202.103.97:8080/sanction/services/SearchService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>